/* :root {
    --color-main: rgb(206, 189, 0);
    --color-blue: #008891;
    --color-white: #fff;
    --color-blue-hover: #00587A;
    --color-gray: rgb(230, 230, 230);
    --color-black: #000;
} */
body {
    margin: 0;
    /* font-family: "Source Sans Pro", sans-serif; */
}

td, th {
    text-align: center;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-right-2 {
    padding-right: 2px;
}

.comic-general-information {
    background-image: url("../../img/bg_lowpoly.png");
    min-height: 100px;
    background-position: center center;
    height: auto;
    background-size: cover;
    width: 100%;
}

.selected-comic {
    background-image: url('../../img/Comic1.jpg');
    height: 500px;
    background-position: center center;
    background-size: cover;
    width: 100%;
    z-index: 5;
}


.type-comic a {
    margin-top: 4px;
    padding: 10px;
    background-color: var(--color-blue);
    border: 1px solid var(--gray-white);
    margin-right: 8px;
    color: #fff;
    font-weight: 500;
}

.type-comic a:hover {
    color: var(--color-border-top);
}

/* .info-comic-name:hover {
    background: linear-gradient(to right, #ffb300 0%, #ff3c00 100%);
    color: transparent;
    -webkit-background-clip: text;
    transition: all 0.2s ease;
    text-shadow: #ffb300 #ff3c00 -1px -2px 0.5em;
    font-weight: 900;
} */

.comic-general-information .decription {
    padding: 12px;
    border-left: 4px solid var(--color-blue);

}

.user-avatar {
    width: 40px;
}

.comment-box {
    border: 1px solid var(--color-blue);
}

.comment-user-name {
    /* color:var(--color-blue-hover) */
    font-weight: 700;
}

.comment-user-content {
    border-top: 1px solid var(--color-blue);
}

.comment-chapter {
    font-style: italic;
    color: var(--color-border-top);
}

.info-comic {
    color: darkblue;
    font-weight: 500;
}

.chapter .suggest-comic .col-6 {}

.suggest-comic a {
    color: #000;
}

.suggest-comic__image {
    width: 100%;
    height: 200px;
    padding-left: 4px;
    padding-right: 4px;
    background-size: cover;
    border-radius: 8px;
}

.btn-watch-now {
    color: #11565f;
    font-weight: 700;
    border: 2px solid var(--color-blue);
    margin-top: 8px;
}

.suggest-comic__item {
    border-top: 2px solid var(--color-gray);
}

.suggest-comic__item:hover {
    cursor: pointer;
}

.suggest-comic__item:hover .btn-watch-now {
    color: #fff;
    background-color: var(--color-blue-hover);
    transition: all 0.2s ease;
}

#comment-content {
    outline: none;
    border: 1px solid var(--color-blue);
}

.submit-btn {
    border: 1px solid var(--color-blue);
    width: 200px;
    background-color: var(--color-blue);
    color: #fff;
    transition: all 0.2s ease;
}

.submit-btn:hover {
    background-color: var(--color-blue-hover);
    font-weight: 700;
}

.reply-hidden {
    display: none;
    transition: all 0.2 ease;
}