{% extends "Comic/category.html" %}
{% load static %}
{% block header %}
<section class="header-category__top">
    <div class="container h-100 py-4">
        <div class="row h-100">
            <!-- d-flex align-items-center -->
            <div class="col-4 h-100 ">
                <div class="title">LỊCH SỬ:</div>
                <div class="type-comic-favourite my-2"
                    style="background-image: url('https://c4.wallpaperflare.com/wallpaper/758/769/69/legion-legion-5-lenovo-gaming-laptop-anime-hd-wallpaper-preview.jpg');">
                    <p class="h-100">Đã xem</p>
                    <div class="type-comic-favourite__slice">
                    </div>
                </div>
                <div class="title">TOTAL</div>
            </div>
            <div class="col-8">
                <div class="title">
                    THÔNG TIN THỂ LOẠI:
                </div> 
                <div class="title decription d-flex align-items-center pl-3 my-2">
                    <span>Danh sách các truyện bạn đã xem....</span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% if not request.session.id %}
    {% block content %}
        <section class="update-comic-lasted py-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h5>TRUYỆN ĐÃ ĐỌC</h5>
                        {% block comicView %}
                        {% if 'id' in request.session %}
                        <div class="cover">
                            <div class="row justify-content-center">
                                {% if chapters %}
                                {% for chapter in chapters %}
                                <div class="col-6 col-md-4 col-lg-3 pb-3 ">
                                    <div class="slide-comic">
                                        <a href="{% url 'comic' id=chapter.Comic__id %}">
                                            <div class="position-relative">
                                                <img src="/{{chapter.Comic__Banner}}">
                                                <div class="info-comic">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-2"><i class="fa-solid fa-eye"></i></div>
                                                                <div class="col-10"> {{chapter.Views}} views</div>
                                                                <div class="col-2"><i class="fa-solid fa-file"></i></div>
                                                                <div class="col-10"> {{chapter.Chapters}} chapters</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comic-slide-content text-dark">
                                                <p>{{chapter.Comic__Name | truncatewords:6}}</p>
                                                <div>
                                                    <!-- {} -->
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="pagination pt-2">
                            <span class="step-links text-black">
                                {% if chapters.has_previous %}
                                <a href="?page={{ chapters.previous_page_number }}"
                                    class="text-dark pagination-number-page">Previous</a>
                                {% endif %}
                            </span>
        
                            <span class="current">
                                <p class="pagination-number-page">{{ chapters.number }}</p>
                            </span>
        
                            <span>
                                {% if chapters.has_next %}
                                <a href="?page={{ chapters.next_page_number }}"
                                    class="text-dark pagination-number-page">Next</a>
                                {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <div class="cover">
                            <div class="row justify-content-center">
                                <span class="text-danger m-4">VUI LÒNG ĐĂNG NHẬP ĐỂ LƯU LỊCH SỬ ĐỌC TRUYỆN</span>
                            </div>
                        </div>
                        {% endif %}
                        {% endblock %}
                    </div>
                    <div class="d-none d-lg-block col-lg-3">
                        <h5>THỂ LOẠI ĐƯỢC YÊU THÍCH</h5>
                        <div class="cover">
                            <div class="type-comic-favourite"
                                style="background-image: url('https://c4.wallpaperflare.com/wallpaper/758/769/69/legion-legion-5-lenovo-gaming-laptop-anime-hd-wallpaper-preview.jpg');">
                                <p class="h-100">Đam mỹ</p>
                                <div class="type-comic-favourite__slice">
                                </div>
                            </div>
                            <div class="type-comic-favourite"
                                style="background-image: url('https://images5.alphacoders.com/106/1061278.png');">
                                <p class="h-100">Yaoi</p>
                                <div class="type-comic-favourite__slice">
                                </div>
                            </div>
                            <div class="type-comic-favourite"
                                style="background-image: url('https://mcdn.coolmate.me/image/May2022/manhwa-la-gi-manga-la-gi-manhua-la-gi-phan-cuc-de_476.jpg');">
                                <p class="h-100">Manhwa</p>
                                <div class="type-comic-favourite__slice">
                                </div>
                            </div>
                            <div class="type-comic-favourite"
                                style="background-image: url('https://inkythuatso.com/uploads/thumbnails/800/2022/03/anh-my-do-toa-nu-vuong-xinh-dep-1-16-17-07-47.jpg');">
                                <p class="h-100">Manhua</p>
                                <div class="type-comic-favourite__slice">
                                </div>
                            </div>
                            <div class="type-comic-favourite"
                                style="background-image: url('https://mcdn.coolmate.me/image/May2022/manhwa-la-gi-manga-la-gi-manhua-la-gi-phan-cuc-de_829.jpg');">
                                <p class="h-100">Ngôn tình</p>
                                <div class="type-comic-favourite__slice">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% else %}
    {% block headerContent %}
    <h5>TRUYỆN ĐÃ ĐỌC</h5>
    {% endblock %}
{% endif %}