{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/Comic/chapter.css' %}">
{% endblock %}

{% block title %}
<title>SEARCH</title>
{% endblock %}

{% block content %}
<section class="function-reading">
    <div class="container">
        <div class="function">
            <ul class="function-list">
                <li><a href="{% url 'comic' chapter.Comic.id %}"><i class="fa-solid fa-list"></i></a></li>
                <li><a href=""><i class="fa-solid fa-left-long"></i></a></li>
                <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                <li><a href=""><i class="fa-solid fa-right-long"></i></a></li>
                <li><a href=""><i class="fa-solid fa-circle-info"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<section class="reading-picture h-auto pb-5">
    <div class="container">
        <div class="reading d-flex justify-content-center flex-column">
            <div class="comic-title d-flex justify-content-center py-5">{{chapter.Comic.Name|upper}} [<p>Chap {{chapter.NumberChapter}}</p>]</div>
            {% for page in pages %}
            <img src="/{{page.Page}}" alt="">
            {% empty %}
            <p class="d-flex justify-content-center">KHONG THE TIM THAY PAGE</p>
            {% endfor %}
            <div class="chap-tranfer d-flex py-3 justify-content-around px-5 mx-5">
                {% if chapter.PreviousChapter is not None %}
                <div class="previous-chap "><a href="{% url 'chapter' chapter.Comic.id chapter.PreviousChapter.id %}" class="hover-change-color tranger">Tập trước</a></div>
                {% endif %}
                <!-- {{chapter.chapterprevious.id}} -->
                {% if chapter.chapterprevious %}
                <div class="next-chap hover-change-color tranger"><a href="{% url 'chapter' chapter.Comic.id chapter.chapterprevious.id %}" class="hover-change-color tranger">Tập sau</a></div>
                {% endif %}
            </div>
        </div>
        <div class="cover mt-5">
            <h4>Bình luận</h4>

            {% comment %} add comment {% endcomment %}

            {% if request.session.id %}
            <div class="row">
                <div class="col-1">
                    <img class="user-avatar" src="{{request.session.avatar}}">
                </div>
                <div class="col-11">
                    <form action="{% url 'chapter' chapter.Comic.id chapter.id %}" method="POST">
                        {% csrf_token %}
                        <textarea id="comment-content" name="comment" rows="3" cols="50" class="w-100 p-3" placeholder="Bình luận của bạn là gì?"></textarea>
                        <input type="submit" value="Đăng" class="btn submit-btn">
                        <input type="text" value="comment" name="type" readonly hidden class="">
                    </form>
                </div>
            </div>
            {% else %}
            <div class="login-to-comment">
                Vui lòng đăng nhập để viết bình luận
            </div>
            {% endif %}

            {% comment %} show comment {% endcomment %}

            {% for i in chapter.Comic.comments.all %}
            {% if i.Reply %}
            {% else %}
            <div class="row mt-3">
                <div class="col-1">
                    <img class="user-avatar" src="/{{i.User.Avatar}}">
                </div>
                <div class="col-11">
                    <div class="comment-box px-4 py-2">
                        <div class="title">
                            <span class="comment-user-name mb-1">{{i.User.Name}}</span>
                            {% if i.Chapter.NumberChapter != None %}
                            <span class="pl-4 comment-chapter">Chapter - {{i.Chapter.NumberChapter}}</span>
                            {% endif %}
                        </div>
                        <div class="comment-user-content pt-1">{{i.Content}}</div>
                    </div>
                    <div class="reply mt-1">
                        <i class="fa-sharp fa-solid fa-reply"></i>
                        <span onclick="addBlockReply(this)" class="cursor-pointer">Phản hồi </span>
                        <span class="ml-4 opacity-75">{{i.CreateAt}}</span>
                    </div>
                    
                    {% comment %} add reply comment {% endcomment %}

                    <div class="reply-hidden mt-3">
                        {% if request.session.id %}
                        <div class="row">
                            <div class="col-1">
                                <img class="user-avatar" src="{{request.session.avatar}}">
                            </div>
                            <div class="col-11">
                                <form action="{% url 'chapter' chapter.Comic.id chapter.id %}" method="POST">
                                    {% csrf_token %}
                                    <textarea id="comment-content" name="comment" rows="3" cols="50" class="w-100 p-3" placeholder="Bình luận của bạn là gì?"></textarea>
                                    <input type="submit" value="Đăng" class="btn submit-btn">
                                    <input type="text" value="reply" name="type" readonly hidden class="">
                                    <input type="text" value="{{i.id}}" name="id-comment" readonly hidden class=""> 
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <div class="login-to-comment">
                            Vui lòng đăng nhập để viết bình luận
                        </div>
                        {% endif %}
                    </div>

                    {% comment %} reply comment {% endcomment %}

                    {% for j in i.replies.all %}
                    <div class="row mt-3">
                        <div class="col-1">
                            <img class="user-avatar" src="/{{j.User.Avatar  }}">
                        </div>
                        <div class="col-11">
                            <div class="comment-box px-4 py-2">
                                <div class="title">
                                    <span class="comment-user-name mb-1">{{j.User.Name}}</span>
                                    {% if j.Chapter.NumberChapter != None %}
                                    <span class="pl-4 comment-chapter">Chapter - {{j.Chapter.NumberChapter}}</span>
                                    {% endif %}
                                </div>
                                <div class="comment-user-content pt-1">{{j.Content}}</div>
                            </div>
                            <div><span class="ml-4 opacity-75">{{j.CreateAt}}</span></div> 
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<script>
    
</script>
{% endblock %}